body{
    font-family: 'Poppins', sans-serif;
}
img{
    max-width: 100%;
}
h1{
    font-size: 32px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 10%
}